{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<style>
    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Alex+Brush&family=Josefin+Sans:wght@500&display=swap');
    h1{
        
        font-family: 'Acme', sans-serif;
        color:#fb8500;
    }
    h2, h3, h4, h5, p, a, small, label, input, button{
        font-family: 'Josefin Sans', sans-serif;
    }
    h3{
        color:#219ebc;
    }
    a{
    color:#023047;
    }
    body{
        background-color:whitesmoke;

    }
    .content_name{
        color:#219ebc;
    }
    small{
        font-size: 12px;
    }
</style>


    <div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            {% if request.user.is_authenticated %}
            <div class="container-fluid">
              <a class="navbar-brand" href="{% url 'home' %}"> <h1>See Market</h1></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'update-user' %}">Hello {{request.user.username}}</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'update-user' %}">Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        <li><a class="dropdown-item" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                  </li>
                </ul>
                <form class="d-flex" action="{% url 'home' %}" method="GET" role="search">
                  <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
            {% endif %}
          </nav>
        </div>







