@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alex+Brush&family=Josefin+Sans:wght@500&display=swap');


/* 
Header, subtitle, contents
font-family: 'Acme', sans-serif;
font-family: 'Alex Brush', cursive;
font-family: 'Josefin Sans', sans-serif; */

